################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
extensions=buildout.minitagificator
versions = versions
parts = part
hooks-directory = ${buildout:directory}/hooks
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs

[versions]


[part]
recipe = minitage.recipe.cmmi
url = http://${mirrors:gentoo}/distfiles/readline-6.2.tar.gz
md5sum = 67948acb2ca081f23359d0256e9a271c

configure-options = --with-curses
libraries-cygwin=ncurses
libraries=ncurses
#no-osx-target=true
#pre-make-hook=${buildout:directory}/h.py:h
post-make-hook=${buildout:directory}/h.py:p
#pending-make-install-hook=${buildout:directory}/h.py:hh
environment=
    CFLAGS=-fPIC
snowleopard-patches=${buildout:directory}/patch-shobj-conf.diff
patches=
    ${buildout:directory}/readline62-001
    ${buildout:directory}/readline62-002
    ${buildout:directory}/readline62-003
    ${buildout:directory}/readline62-004
patch-options=-Np0

[mirrors]
gentoo = gentoo.tiscali.nl
minitage = distfiles.minitage.org/public/externals 
 


